*
{
	font-family: Consolas, monaco, monospace;
	background-color: #abcdef
}

table, th, td
{
    border: 1px solid #000000;
    border-collapse: collapse
}

table
{
    width: 100%;
    border-spacing: 5px
}

th, td
{
    text-align: center;
    padding: 4px
}

th
{
    width: 19%;
    font-style: oblique
}

/* 最左侧的键位格 */
.key
{
    color: #ff0000
}

/*
对受到特定按键的键位属性采取高亮显示
如果一个键位延伸到几个特定按键，按照Control -> Alt -> Shift -> Tab的顺序处理
*/

/* 受Control影响的属性 */
.ctrl
{
    color: #a200ff
}

/* 受Alt影响的属性 */
.alt
{
    color: #0000ff
}

/* 受Shift影响的属性 */
.shift
{
    color: #ff00ff
}

/* 受Tab影响的属性 */
.tab
{
    color: #ff6600
}

/* 表示这个键位不可用，比如两个Control一起按 */
.not_available
{
    background-color: #000000
}
